# Ignorar arquivos de objeto
*.o

# Ignorar builds gerados no bin
Project/bin/Debug-static/**
Project/bin/Debug-dynamic/**
Project/bin/Release-dynamic/**

# Ignorar arquivos do CodeBlocks que não sejam o projeto
*.layout
*.depend